<div class="container">
    <h1>Welcome to shiny-bear</h1>
    <p>You can either view whats in the fridge or create a new shopping list</p>
    <%= link_to "Whats in the fridge", stocks_path  %> <br>
    <%= link_to "Shopping Lists", shopping_lists_path %> 
</div>